* {
    font-family: AdwaitaMono Nerd Font;
    font-size: 16px;
}

window#waybar {
    color: #eeeeee;
    background: alpha(#2a2a2a, 0.7);
}

#workspaces button {
    color: #eeeeee;
}

#workspaces button:hover {
    color: #2a2a2a;
    background: #eeeeee;
}
