@define-color foreground #eeeeee;
@define-color background #2a2a2a;
@define-color color #008080;

* {
    font-family: AdwaitaMono Nerd Font;
    font-size: 16px;
}

window#waybar {
    color: @foreground;
    background: alpha(@background, 0.7);
}

#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    background: @color;
}

#workspaces button:hover {
    color: @background;
    background: @foreground;
}
